<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Level:</strong>
  <%= @task.level %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @task.attached_file %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
